#portada {
  background-image: url('../images/formacionEmpresas.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat ;
}
  @media screen and (max-width: 768px) {
    .redes-sociales-desktop {
      display: none;
    }
  }
   /* Style the navbar */
.navbar {
    background-color: #ffb570;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 

   /* The sticky class is added to the navbar with JS when it reaches its scroll position */
   .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 #mapa{
  width:300;
  height: 200;
  border:0;
 }
 .icono_wrapper {
  font-size: 60px;
}
.wrapper{
  z-index: 10;
  display: flex;
}

.wpb_wrapper{
  background-color: beige;

}
/* Definir la animación */
@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

/* Aplicar la animación cuando se coloca el ratón sobre la tarjeta */
.wpb_wrapper:hover {
  animation: moveUp 0.3s ease-out;
}

/* Mantener la tarjeta en la posición final de la animación */
.wpb_wrapper:hover {
  animation-fill-mode: forwards;
}
.subtitle {
  max-height: 150px;
  overflow: hidden;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  
}

.scroll-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.scroll-link:hover {
  opacity: 0.7;
}
.rt{
  border-radius: 50% 50% 0 0 ;
  max-height: 300px;
  overflow: hidden;

}

#logo4V{
  height: 50px;
}
#logo4VFooter{
  width: 250px;
  height:auto;
}
.logos_footer{
height: 75px;
}

.carousel-box {
  background-color: #fde5e5;
  height: 200px;
  padding: 20px;
  text-align: center;}


  .slick-slide {
    margin: 0 10px; /* Espacio horizontal entre las tarjetas */
  }

  .box {
    padding: 20px; /* Espacio interno dentro de cada tarjeta */
    background-color: #f9ffc2;
    border-radius: 50% 0 50% ;
    height: 300px;
  }

  
  .container {
    margin: auto;
  }
  .rounded-image {
    border-radius: 50%; /* Aplica bordes redondos */
  }
  
  .shadowed-image {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
  }

  .gallery-image {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-image:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gallery-image:hover::after {
    opacity: 1;
  }
  
  #imagenFrancia{
    border-radius: 50% 0 0 50%;
    max-height: 600px;
  }
  #ImagenEng{
    border-radius: 0 50% 50% 0;
    max-height: 600px;

  }
  .image-container {
    position: relative;
  }
  
  .hover-opacity {
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .hover-opacity {
    opacity: 0.7;
  }
  
  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  
  .image-overlay i {
    color: rgba(201, 214, 16, 0.795);
    font-size: 70px;
  }
  
  #barraFooter{
    width: 100%;

  }
  .fotoViajes {
    transform: skew(10deg, -5deg);
  }

  .botonTest {
    border-radius: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .botonTest::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
  }
  
  .botonTest:hover {
    transform: scale(1.05);
  }
  
  .botonTest:hover::before {
    left: 0;
  }
  
  .botonTest i {
    transition: all 0.3s;
  }
  
  .botonTest:hover i {
    transform: rotate(180deg);
  }
  
  
  